doctype html
html
  head
    title= title
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    link(href='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='fullcalendar/fullcalendar.css')
    script(src='fullCalendar/lib/jquery.min.js')
    script(src='fullCalendar/lib/moment.min.js')
    script(src='fullCalendar/fullcalendar.js')
    script.
        var res;
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '437339859788634',
                xfbml      : true,
                version    : 'v2.5'
            });
            FB.getLoginStatus(function(response) {if (response.status === 'connected') {var uid = response.authResponse.userID; var accessToken = response.authResponse.accessToken;
                FB.api("/154431829383/events",function (response) {
                    if (response && !response.error) {res=response;console.log(res);}});console.log(res);} else if (response.status === 'not_authorized') {} else {}});
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));  
        var favEvents = [];		
  body
    each market, m in userData
        script.
            var mark = '#{market}';
            console.log('#{market}');
            var events = [];
            var setCalendar;
            checkIfVariableIsSet();
            function checkIfVariableIsSet(){
                if(typeof res !== 'undefined'){
                    console.log("running" + mark);
                    eventsForMarket(mark);
                    setCalendar = "yay";
                }
                else{setTimeout(function(){checkIfVariableIsSet();},250);}}
            function eventsForMarket(market){
                for(var i = 0; i < res.data.length; i++){
                    if(res.data[i].place.name == market){console.log(market);
                        favEvents.push({title:res.data[i].name,start:res.data[i].start_time,end:res.data[i].end_time});};}
            };
    script.
        function checkIfVariableIsSet2(){
            if(typeof setCalendar !== 'undefined'){
                console.log("fave:" + favEvents);
                $('#calendar').fullCalendar({events:favEvents});
            }
            else{setTimeout(function(){checkIfVariableIsSet2();},250);}};
        checkIfVariableIsSet2();
    block content