extends layout
block content
	g= title
	h1 Settings
	p Background color:

		a.btn(href="./blue") Blue
		a.btn(href="./white") White
	if g == white
		p this is white page
	if g == lightblue
		p this is blue page
	else
		p idk
	style. 
		body {
			background-color: red;
		}
		


	script.
		//var h0= title
		//facebook
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '437339859788634',
				xfbml      : true,
				version    : 'v2.5'  
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
