extends layout

block content
	h1 Settings
	p Customize your settings :)

	//login button
	div.fb-login-button(data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="true")

	script.
		//facebook
		window.fbAsyncInit = function() {
			FB.init({
				appId      : '437339859788634',
				xfbml      : true,
				version    : 'v2.5'  
			});
		};

		(function(d, s, id){
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.id = id;
			js.src = "//connect.facebook.net/en_US/sdk.js";
			fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
