extends layout

block content
  h1= title
  p Locations to all the food markets in Vancouver!~ (wow I sound like an ad...)

  form#formLoadMarket(name="loadMarket",method="post",action="/loadMarket")
          button#btnSubmit(type="submit") Load Data!
