extends layout

block content
    h1.
        Market List
    table(class='ui-widget')
        thead(class='ui-widget-header')
            tr
                each field, j in marketList[0]
                    if (j != '_id')
                        th #{j}
        tbody(class='ui-widget-content')
            each market, i in marketList
                tr
                    each field, j in market
                        if (j != '_id')
                            td #{field}